<form class="so-ce-form" autocomplete="off" onsubmit="event.preventDefault()">
  <div class="custom-editor-border">
    <h2>{{localize "streamoverlay.windows.CustomEditor.app.css"}}</h2>
    <div class="editor" id="cssEditor"></div>
    <h2>{{localize "streamoverlay.windows.CustomEditor.app.html"}}</h2>
    <p>{{localize "streamoverlay.windows.CustomEditor.app.validVariables"}} : username, actorname, roll_result, roll_formula</p>
    <div class="editor" id="htmlEditor"></div>
  </div>

  <div class="buttonDiv">
    <button type="button" class="save-button">{{localize "SETTINGS.Save"}}</button>
  </div>
</form>
